{% extends 'base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% block content  %}
    <form method="post">
        {% csrf_token %}
        {% buttons %}
        <br><br><br>
        <div class="row" style="background-color:lightblue; height:32px">
            <h4 style="margin-left: 20px">Clientes</h4>
        </div>     
       
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Exclusão de registros</h4>
                    <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir o cliente <strong>"{{ object }}"</strong> de código <strong>"{{ object.id }}</strong>"?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">
                        Confirmar
                    </button>
                    <button type="button" class="btn btn-warning">
                        <a href="{% url 'list_cliente' %}">Retornar</a>
                    </button>
                </div>
            </div>
        </div>
        {% endbuttons %}
    </form>
{% endblock %}
