{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br><br>
    <div class="row" style="background-color:lightblue; height: 40px;">
        <h4 style="margin-left: 20px; margin-top: 6px;">Produtos</h4>
    </div> 
    <br>
    <form method="post">
        {% csrf_token %}
         <!-- {% bootstrap_form form %} -->
        <div class="row" style="background-color:aliceblue">
            <div class="col-md-4">
                {{ form.descricao|as_crispy_field }}
            </div>    
            <div class="col-md-4">
                {{ form.compl|as_crispy_field }}
            </div>
            <div class="col-md-2">           
                {{ form.unidade|as_crispy_field }}
            </div>
            <div class="col-md-2">
                {{ form.grupo|as_crispy_field }}
            </div>
        </div>    
        <div class="row" style="background-color:aliceblue">
            <div class="col-md-4">
                  {{ form.quantidade|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.preco_custo|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.preco_venda|as_crispy_field }}
            </div>
        </div>   
        <div class="row" style="background-color:aliceblue">                
            <div class="col-md-12">
                {{ form.observacao|as_crispy_field  }}
            </div>
        </div>   
        <br>
        <div class="row" style="background-color:aliceblue">
            {% buttons %}
                <button type="submit" class="btn btn-primary" style="width: 100px">
                    Salvar
                </button>
                <button type="button" class="btn btn-warning" style="width: 100px">
                    <a href="{% url 'list_produto' %}">Retornar</a>
                </button>
            {% endbuttons %}
        </div>
    </form>
{% endblock %}